* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.main {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.titulo h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #0073b1;
}

.dados {
    margin-bottom: 20px;
}

.dados .user {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.dados .location {
    font-size: 18px;
    color: #777;
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.icons img:hover {
    transform: scale(1.5); /* aumenta ou diminui o tamanho das imagens quando coloca o mouse em cima(hover)*/
}

.btn-contato {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-contato:hover {
    background-color: #005582;
}
